
body{
    overflow: hidden;
    background: #111;
    margin: 0;
    padding: 0;
}
.ui-loader{
    display: none;
}

.pagecover{
    display: none;
}

/*透過css的media去做判斷是否橫擺*/
@media screen and  (orientation:landscape) and (max-width: 812px ){
    .pagecover{
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        background: #333;
        color: #fff;
        text-align: center;
        display: block;
        width: 100%;
    }
}


.window_div{
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 414px;
    height: auto;
    overflow: hidden;
}

.fullpage{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #333;

    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;

    webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.nav-bar{
    position: relative;
    width: 100%;
    height: 46px;
    background: #fff;
    line-height: 46px;
    color: #000;
    border-bottom: 1px solid #ccc;
}
.nav-bar>.left-div{
    position: relative;
    float: left;
    height: 46px;
    width: auto;
    line-height: 46px;
    padding: 0 10px;
    cursor: pointer;
}
.nav-bar>.right-div{
    position: relative;
    float: right;
    height: 46px;
    width: auto;
    line-height: 46px;
    padding: 0 10px;
    cursor: pointer;
}

.footer-nav{
    position: relative;
    width: 100%;
    height: 46px;
    background: #f00;
    line-height: 46px;
    color: #000;
    border-top: 1px solid #ccc;
}

.content-div{
    position: relative;
    width: 100%;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
}


.box{
    position: relative;
    float: left;
    width: 100%;
    height: 632px;
    text-align: center;
    color: #000;
}

.logo-box{
    background: #fff;
    font-size: 60px;
}

.main-box{
    background: #ddd;
}
.main2-box{
    background: #ddd;
}

.main3-box{
    background: #ddd;
}


.menu-box{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 100%;
    width: 100%;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px;

    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.contentPage-1,
.contentPage-2{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    text-align: center;
    color: #000;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;

    webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
.contentPage-1{
    z-index: 2;
    background: #99f;
}
.contentPage-2{
    z-index: 3;
    background: #cfc;
}

.col-12{
    padding: 0 10px 10px 10px;
}
.col-6{
    padding: 0 5px 10px 5px;
}

.row .col-6:nth-child(1){
    padding: 0 5px 10px 10px;
}

.row .col-6:nth-last-child(1){
    padding: 0 10px 10px 5px;
}

.col-12>.content,
.col-6>.content{
    min-height: 100px;
    background: #fff;
    text-align: left;
    border-radius: 5px;
    padding: 4px 6px;
}

.col-12>.content{
    min-height: auto;
}

.col-12>.content>.title,
.col-6>.content>.title{
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}

.rainfall{
    position: relative;
    border: #999 solid 1px;
    border-radius: 3px;
    padding: 2px 6px;
    min-width: 50px;
    font-size: 8px;
}

.table td,
.table th{
    text-align: center;
    vertical-align: middle;
}